In [1]:
# reading csv file with pandas

In [2]:
import pandas as pd

df = pd.read_csv('LukeStats.csv')

In [3]:
#  showing a snippet of the contents of the file

In [4]:
df = df.replace('..', 0)

In [5]:
df.head()

,year,ELY centre,species,Number of enterprises,Area total (ha),Young population not yet yielding any crop (ha),Crop yielding population (ha),High tunnel cultivation (ha),Yield (1 000 kg),Yield (kg/ha)
0,2014,Uusimaa,Garden pea,52,0,0,0,0,1255,2290
1,2014,Uusimaa,Bean,17,0,0,0,0,12,3078
2,2014,Uusimaa,White cabbage,24,0,0,0,0,2811,29422
3,2014,Uusimaa,Savoy cabbage,4,0,0,0,0,46,17138
4,2014,Uusimaa,Red cabbage,43,0,0,0,0,789,27909

In [6]:
# extract and display list of unique produce 'species'\

In [7]:
species = df.loc[:,'species'].unique()

In [8]:
species

array(['Garden pea', 'Bean', 'White cabbage', 'Savoy cabbage',
       'Red cabbage', 'Cauliflover', 'Brussels sprout',
       'Sprouting broccoli', 'Kohlrabi', 'Chinese cabbage', 'Carrot',
       'Red beet', 'Swede', 'Turnip', 'Celeriac', 'Parsnip', 'Leek',
       'Gherkin', 'Pumpkin', 'Courgette', 'Lettuces', 'Celery', 'Spinach',
       'Rhubarb', 'Dill', 'Parsley', 'Garlic', 'Sweet corn', 'Asparagus',
       'Strawberry', 'Black and green currant', 'Red currant',
       'White currant', 'Raspberry', 'Gooseberry', 'Highbush blueberry',
       'Sea buckthorn', 'Chokeberry (Aronia spp.)', 'Apple'], dtype=object)

In [9]:
l = []
x = species
for i in range(16):
    l.append(x)

In [10]:
import numpy as np
l = np.array(l)
c= l.reshape(624,1)
c.shape

(624, 1)

In [11]:
# number of unique produce species

In [12]:
df['species'].nunique()

39

In [13]:
# listing all years for which data is collected

In [14]:
year = df.loc[:,'year'].unique()

In [15]:
year

array([2014, 2015, 2016, 2017, 2018, 2019], dtype=int64)

In [16]:
#  listing all the unique ELY centres

In [17]:
ELY_centre = df.loc[:,'ELY centre'].unique()

In [18]:
ELY_centre

array(['Uusimaa', 'Southwest Finland', 'Satakunta', 'Häme', 'Pirkanmaa',
       'Southeast Finland', 'South Savo', 'North Savo', 'North Karelia',
       'Central Finland', 'South Ostrobothnia', 'Ostrobothnia',
       'North Ostrobothnia', 'Kainuu', 'Lapland', 'Åland'], dtype=object)

In [19]:
df['ELY centre'].nunique()

16

In [1]:
#  For each ELY centre display the list of the top 3 produce items in terms of Yield (take average over the years)

In [20]:
EYL = df.loc[df['ELY centre']== 'Uusimaa']

In [21]:
EYL

,year,ELY centre,species,Number of enterprises,Area total (ha),Young population not yet yielding any crop (ha),Crop yielding population (ha),High tunnel cultivation (ha),Yield (1 000 kg),Yield (kg/ha)
0,2014,Uusimaa,Garden pea,52,0,0,0,0,1255,2290
1,2014,Uusimaa,Bean,17,0,0,0,0,12,3078
2,2014,Uusimaa,White cabbage,24,0,0,0,0,2811,29422
3,2014,Uusimaa,Savoy cabbage,4,0,0,0,0,46,17138
4,2014,Uusimaa,Red cabbage,43,0,0,0,0,789,27909
...,...,...,...,...,...,...,...,...,...,...
3154,2019,Uusimaa,Gooseberry,2,0,0,0,0,0,0
3155,2019,Uusimaa,Highbush blueberry,11,5,0,3,0,4,0
3156,2019,Uusimaa,Sea buckthorn,3,0,0,0,0,0,0
3157,2019,Uusimaa,Chokeberry (Aronia spp.),2,0,0,0,0,0,0
3158,2019,Uusimaa,Apple,35,89,8,86,0,341,0

In [22]:
## object to integer

df['Yield (1 000 kg)'] = df['Yield (1 000 kg)'].astype(int)
df['Number of enterprises'] = df['Number of enterprises'].astype(int)
df['Area total (ha)'] = df['Area total (ha)'].astype(int)
df['Young population not yet yielding any crop (ha)'] = df['Young population not yet yielding any crop (ha)'].astype(int)
df['Crop yielding population (ha)'] = df['Crop yielding population (ha)'].astype(int)
df['High tunnel cultivation (ha)'] = df['High tunnel cultivation (ha)'].astype(int)
df['Yield (kg/ha)'] = df['Yield (kg/ha)'].astype(int)

In [23]:
EyL=[] 
new_df=[]
Species = []
averages =[]
average_highest_rate =[]
for i in ELY_centre:
    for j in species:
        
        Eyl = df.loc[df['ELY centre']== i]
        SPecies = Eyl.loc[Eyl['species']== j]
        average =SPecies['Yield (1 000 kg)'].mean(axis = 0)
        average_highest_ratee =SPecies['Yield (kg/ha)'].mean(axis = 0)
        EyL.append(Eyl)
        Species.append(SPecies)
        averages.append(average)
        average_highest_rate.append(average_highest_ratee)
        dfnew = {'Center': i,
                'species': j,
                'Average over the years': average,
                'Yield (kg/ha)(mean)': average_highest_ratee}
        new_df.append(dfnew)

In [24]:
dff = pd.DataFrame(new_df, columns = ['Center', 'species','Average over the years','Yield (kg/ha)(mean)'])

In [25]:
dff

,Center,species,Average over the years,Yield (kg/ha)(mean)
0,Uusimaa,Garden pea,863.500000,982.333333
1,Uusimaa,Bean,12.333333,2128.166667
2,Uusimaa,White cabbage,1725.166667,23353.833333
3,Uusimaa,Savoy cabbage,19.000000,9703.500000
4,Uusimaa,Red cabbage,219.333333,17460.666667
...,...,...,...,...
619,Åland,Gooseberry,0.000000,0.000000
620,Åland,Highbush blueberry,0.000000,0.000000
621,Åland,Sea buckthorn,0.166667,0.000000
622,Åland,Chokeberry (Aronia spp.),0.000000,0.000000
623,Åland,Apple,4816.666667,12060.166667

In [26]:
## For each ELY centre display the list of the top 3 produce items in terms of Yield (take average over the years)\

In [27]:
final_output =[]
for i in ELY_centre:
        Eyl = dff.loc[dff['Center']== i]
        final = Eyl.nlargest(3, ['Average over the years'])
        final_output.append(final)
import numpy as np
final_output =np.array(final_output)
final_output = final_output.reshape(48,4)
final = pd.DataFrame(final_output, columns = ['Center', 'Species','Average over the years','Yield (kg/ha)(mean)'])
final

,Center,Species,Average over the years,Yield (kg/ha)(mean)
0,Uusimaa,White cabbage,1725.17,23353.8
1,Uusimaa,Cauliflover,1067.83,9386.17
2,Uusimaa,Garden pea,863.5,982.333
3,Southwest Finland,Carrot,22115.7,32935.7
4,Southwest Finland,Gherkin,6378,45266.3
5,Southwest Finland,Swede,5381.33,31167.8
6,Satakunta,Carrot,14872.8,31690.8
7,Satakunta,Red beet,8089.17,22763.8
8,Satakunta,White cabbage,4928.5,37863
9,Häme,Carrot,18369.5,38247.7
10,Häme,Strawberry,1482,2957.17
11,Häme,Red beet,858.167,18631.8
12,Pirkanmaa,White cabbage,738.167,26149.5
13,Pirkanmaa,Strawberry,502.833,3603
14,Pirkanmaa,Lettuces,237.167,3933.67
15,Southeast Finland,Carrot,744,20607
16,Southeast Finland,Strawberry,680.167,2833.17
17,Southeast Finland,White cabbage,461,25934.7
18,South Savo,Carrot,4716.17,34600.2
19,South Savo,Chinese cabbage,1285.33,14042.3
20,South Savo,Strawberry,1221.83,3638
21,North Savo,Strawberry,3918.83,3830.83
22,North Savo,Carrot,370,23766.7
23,North Savo,Black and green currant,329.667,885.333
24,North Karelia,Strawberry,1159.67,3460.83
25,North Karelia,Carrot,283.667,21130.7
26,North Karelia,Black and green currant,226.667,531.5
27,Central Finland,Carrot,253.667,20269.7
28,Central Finland,White cabbage,243.167,26919.7
29,Central Finland,Strawberry,241.5,2075
30,South Ostrobothnia,Carrot,2092.67,32626
31,South Ostrobothnia,Strawberry,299.5,2757
32,South Ostrobothnia,Turnip,233.167,1165.33
33,Ostrobothnia,White cabbage,6400,42078
34,Ostrobothnia,Carrot,3548.83,33208.2
35,Ostrobothnia,Lettuces,361.5,7979.33
36,North Ostrobothnia,Carrot,930.333,24123.2
37,North Ostrobothnia,White cabbage,727.667,24853
38,North Ostrobothnia,Strawberry,469,3073
39,Kainuu,Carrot,2399.17,17387.3
40,Kainuu,Strawberry,143.5,2439.5
41,Kainuu,Swede,34.1667,11207.8
42,Lapland,Carrot,109.333,20626.7
43,Lapland,Turnip,93.5,2675.5
44,Lapland,White cabbage,30.3333,10721.8
45,Åland,Apple,4816.67,12060.2
46,Åland,Chinese cabbage,178.5,12367.8
47,Åland,Carrot,170.333,34531.5

In [28]:
## For each produce item show the top 3 producers (ELY centres), in terms of Yield (take average over the years)\

In [29]:
spicy_output =[]
for i in species:
        Eyl = dff.loc[dff['species']== i]
        final = Eyl.nlargest(3, ['Average over the years'])
        spicy_output.append(final)
spicy_output =np.array(spicy_output)
spicy_output = spicy_output.reshape(117,4)
final_spicy = pd.DataFrame(spicy_output, columns = ['Center', 'Spicy','Average over the years','Yield (kg/ha)(mean)'])

In [30]:
final_spicy

,Center,Spicy,Average over the years,Yield (kg/ha)(mean)
0,Satakunta,Garden pea,3298,2942.17
1,Southwest Finland,Garden pea,2147.67,1176.17
2,Uusimaa,Garden pea,863.5,982.333
3,Southwest Finland,Bean,51,1245.17
4,Uusimaa,Bean,12.3333,2128.17
...,...,...,...,...
112,Pirkanmaa,Chokeberry (Aronia spp.),1.83333,98.5
113,Ostrobothnia,Chokeberry (Aronia spp.),1.5,409.5
114,Åland,Apple,4816.67,12060.2
115,Southwest Finland,Apple,982.167,5093.33
116,Uusimaa,Apple,465.667,4433.33

In [31]:
## c) In Satakunta, is there any item(s) that was produced at the highest rate (kg/ha) in any of the years?

In [35]:
Max_values =[]
for i in year:
    for j in species:
        Year = df.loc[df['year']== i]
        Year = Year.loc[Year['species']== j]
        max_value = Year.nlargest(1, ['Yield (kg/ha)'])
        Max_values.append(max_value)

In [37]:
Max_values =np.array(Max_values)
Max_values = Max_values.reshape(234,10)
max_values = pd.DataFrame(Max_values, columns = ['year', 'ELY centre','species','Number of enterprises',
                                                 'Area total (ha)','Young population not yet yielding any crop (ha)',
                                                 'Crop yielding population (ha)','High tunnel cultivation (ha)',
                                                 'Yield (1 000 kg)','Yield (kg/ha)'])

In [38]:
max_values

,year,ELY centre,species,Number of enterprises,Area total (ha),Young population not yet yielding any crop (ha),Crop yielding population (ha),High tunnel cultivation (ha),Yield (1 000 kg),Yield (kg/ha)
0,2014,Satakunta,Garden pea,109,0,0,0,0,3083,3562
1,2014,Southeast Finland,Bean,5,0,0,0,0,1,4738
2,2014,Ostrobothnia,White cabbage,27,0,0,0,0,8216,58454
3,2014,Uusimaa,Savoy cabbage,4,0,0,0,0,46,17138
4,2014,Ostrobothnia,Red cabbage,9,0,0,0,0,241,40150
...,...,...,...,...,...,...,...,...,...,...
229,2019,Uusimaa,Gooseberry,2,0,0,0,0,0,0
230,2019,Uusimaa,Highbush blueberry,11,5,0,3,0,4,0
231,2019,Uusimaa,Sea buckthorn,3,0,0,0,0,0,0
232,2019,Uusimaa,Chokeberry (Aronia spp.),2,0,0,0,0,0,0
233,2019,Uusimaa,Apple,35,89,8,86,0,341,0

In [39]:
sakatunta = max_values.loc[max_values['ELY centre']== 'Satakunta']

In [40]:
sakatunta

,year,ELY centre,species,Number of enterprises,Area total (ha),Young population not yet yielding any crop (ha),Crop yielding population (ha),High tunnel cultivation (ha),Yield (1 000 kg),Yield (kg/ha)
0,2014,Satakunta,Garden pea,109,0,0,0,0,3083,3562
12,2014,Satakunta,Swede,23,0,0,0,0,5629,46134
13,2014,Satakunta,Turnip,3,0,0,0,0,290,21664
14,2014,Satakunta,Celeriac,5,0,0,0,0,174,27366
15,2014,Satakunta,Parsnip,11,0,0,0,0,982,28595
17,2014,Satakunta,Gherkin,15,0,0,0,0,2057,52009
22,2014,Satakunta,Spinach,5,0,0,0,0,853,21025
39,2015,Satakunta,Garden pea,100,0,0,0,0,2708,3333
41,2015,Satakunta,White cabbage,22,0,0,0,0,5808,43847
53,2015,Satakunta,Celeriac,5,0,0,0,0,137,18799
56,2015,Satakunta,Gherkin,13,0,0,0,0,1326,48253
61,2015,Satakunta,Spinach,5,0,0,0,0,797,19972
78,2016,Satakunta,Garden pea,101,0,0,0,0,2963,3773
80,2016,Satakunta,White cabbage,22,0,0,0,0,5666,46877
82,2016,Satakunta,Red cabbage,4,0,0,0,0,170,38876
92,2016,Satakunta,Celeriac,4,0,0,0,0,555,71245
93,2016,Satakunta,Parsnip,10,0,0,0,0,1208,27446
100,2016,Satakunta,Spinach,7,0,0,0,0,1014,16609
108,2016,Satakunta,Black and green currant,12,0,0,7,0,14,2170
117,2017,Satakunta,Garden pea,114,0,0,0,0,3592,3849
129,2017,Satakunta,Swede,24,0,0,0,0,4813,41715
131,2017,Satakunta,Celeriac,3,0,0,0,0,181,29527
132,2017,Satakunta,Parsnip,8,0,0,0,0,904,19383
139,2017,Satakunta,Spinach,6,0,0,0,0,1017,20765
156,2018,Satakunta,Garden pea,109,0,0,0,0,3191,3136
169,2018,Satakunta,Turnip,3,0,0,0,0,60,13790
170,2018,Satakunta,Celeriac,3,0,0,0,0,161,27873
171,2018,Satakunta,Parsnip,11,0,0,0,0,630,13602
178,2018,Satakunta,Spinach,6,0,0,0,0,490,10953